* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{text-decoration: none;
   color:white;
}
.bnt_upgrade{text-align: end;}
.bnt_upgrade>a {
    font-weight: 600;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    line-height: 4em;
}

/* Utility classes */
.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.text_center{text-align: center;}
.line_h_center{vertical-align: top;}
.text_uppercase{text-transform: uppercase;}
.cr_gray, ul>li>a, p{
    font-size: small;
    color: gray;
}
p{line-height: 2rem;}
.cr_white{color:white}
/* Margin & Padding classes */
.ml_5{margin-left: 10px;}
.mr_5{margin-right: 10px;}
.mtb_10{margin: 10px 0;}
.m_10{margin: 10px;}
.mlr_10{margin: 0 10px;}
.mt_10{margin-top: 10px;}
.mb_10{margin-bottom: 10px;}
.p_8{padding: 8px;}

.pt_10{padding-top: 10px;}

.plr_20{padding: 20px;}
.ptb_20 {padding: 20px 0;}
.pb_20 {padding-bottom: 20px;}
.pt_10 {padding-top: 20px;}

.ptb_40{padding: 40px 0;}
.pb_40{padding: 0 0 40px 0;}
.plr_40{padding: 0 40px;}
.pr_40 {padding: 0 40px 0 0;}

.ptb_80{padding: 80px 0;}
.pb_80 {padding: 0 0 80px 0;}
.pr_80 {padding: 0 80px 0 0;}
/* /Margin & Padding classes */
/* /Utility classes */
#site_footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
body {
    background-color: #333;
    color: white;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


aside>.logo{width: 200px;}
#site_content{height: calc(100% - 60px);}
aside.main_menu {
    min-width: 300px;
    background-color: black;
}
img.svg_aside {
    width: 32px;
    height: 32px;
}
.main_menu>div>ul>li, .main_menu>div.logo_playlist>span, .main_menu>ul>li, .logo{
    padding: 0 20px;
    line-height: 2rem;
}
span.favourites, span.add_playlist{
  font-size: 30px;
}

.covers_section {
    padding: 20px;;
    padding-top: 60px;
    width: calc(100% - 300px);
}
.playlist>ul{height: 44vh;}
.covers_section, .playlist>ul{
        overflow-y: auto;
        overflow-x: hidden;
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 320px);
    height: 60px;
    background-color: #0e0d0ecf;
    margin-right: 20px;

}
/* Covers section */

.test_item{ 
    width: calc(100% / 6);
    height: 100%;
    padding: 10px;
    
}
.test_item>img{
    width: 100%;}

.item{position: relative;}

.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 50px;
    display: none;
} 
.circle_radius{border-radius: 50%;}
.test_item:hover .fa-play-circle {
    display: block;
}
.item:hover .layover {
    background-color: rgba(0, 0, 0, 0.4);
}  

.layover {    
    height: 100%;
    width: 100%;
    position: absolute;
} 

/* Created for.. section */
    

.install-bottom{
    padding: 20px;
    width: 100%;
}
.install-bottom>div:nth-child(1){
    border-bottom: 1px solid gray;
}
#site_content>aside>div.install-bottom>div:nth-child(1)>img{
    width: 20px;
    height: 20px;
    line-height: 2em;
    vertical-align: middle;
    margin: 5px;
    
}
#site_content>aside>div.install-bottom>div:nth-child(2)>img{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    line-height: 2em;
    vertical-align: middle;
    margin: 5px;
}
.bd_radius{border-radius: 50%;}

nav>a{
    padding: 10px;
    font-weight: 600;
    font-size: small;
}

/* Footer */
footer#site_footer {
    background-color: yellowgreen;
    height: 60px;
    width: 100%;
}




