* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{text-decoration: none;
   color:white;
}
.bnt_upgrade{text-align: end;}
.bnt_upgrade>a {
    font-weight: 600;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px 10px 30px;
    line-height: 4em;
}

/* Utility classes */

.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.text_center{text-align: center;}
.vertical_line_center{vertical-align: top;}
.vertical_line_mid{vertical-align: middle;}
.text_uppercase{text-transform: uppercase;}
.cr_gray, ul>li>a, p{
    font-size: small;
    color: gray;
}
p{line-height: 2rem;}
.cr_white{color:white}
/* Margin & Padding classes */
.ml_5{margin-left: 5px;}
.mt_5{margin-top: 5px;}
.mr_5{margin-right: 10px;}
.ml_10{margin-left: 10px;}
.mtb_10{margin: 10px 0;}
.m_10{margin: 10px;}
.ml_20{margin-left: 20px;}

.mlr_10{margin: 0 10px;}
.mt_10{margin-top: 10px;}
.mb_10{margin-bottom: 10px;}
.p_8{padding: 8px;}

.pt_10{padding: 20px 20px;}

.plr_20{padding: 20px;}
.ptb_20 {padding: 20px 0;}
.pb_20 {padding-bottom: 20px;}
.pl_20 {padding-left: 20px;}
.pt_20 {padding-top: 20px;}

.ptb_40{padding: 40px 0;}
.pb_40{padding: 0 0 40px 0;}
.plr_40{padding: 0 40px;}
.pr_40 {padding: 0 40px 0 0;}

/* /Margin & Padding classes */
/* /Utility classes */
#site_footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
body {
    background-color: #141922;
    color: white;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


aside>.logo{width: 200px;}
#site_content{max-height: calc(100% - 100px);}
aside.main_menu {
    min-width: 300px;
    background-color: black;
}
img.svg_aside {
    width: 32px;
    height: 32px;
}
.main_menu>div>ul>li, .main_menu>div.logo_playlist>span, .main_menu>ul>li, .logo{
    padding: 0 20px;
    line-height: 2rem;
}
span.favourites, span.add_playlist{
  font-size: 30px;
}

.covers_section {
    padding: 20px;;
    padding-top: 60px;
    width: calc(100% - 300px);
}
.playlist>ul>li>a {line-height: 3.5rem;}
.playlist>ul{
    height: 40vh;
}
.covers_section, .playlist>ul{
        overflow-y: auto;
        overflow-x: hidden;
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 320px);
    height: 60px;
    background-color: #0e0d0ecf;
    margin-right: 20px;

}
/* Covers section */

.item{ 
    width: calc(100% / 6);
    height: 100%;
    padding: 10px;
    
}
.cover_wrapper>img {
    width: 100%;}

.cover_wrapper{position: relative;}

.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        /* transform: translate(-65%, -158%); */
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 50px;
    display: none;
} 
.circle_radius{border-radius: 50%;}
.item:hover .fa-play-circle {
    display: block;
}
.cover_wrapper:hover .layover {
    background-color: rgba(0, 0, 0, 0.4);
}  

.layover {    
    height: 100%;
    width: 100%;
    position: absolute;
} 

/* Created for.. section */
    

.install-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
}
.install-bottom>div:nth-child(1){
    border-bottom: 1px solid gray;
}
#site_content>aside>div.install-bottom>div:nth-child(1)>img{
    width: 20px;
    height: 20px;
    line-height: 2em;
    vertical-align: middle;
    margin: 5px;
    
}
#site_content>aside>div.install-bottom>div:nth-child(2)>img{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    line-height: 2em;
    vertical-align: middle;
    margin: 5px;
}
.bd_radius{border-radius: 50%;}

nav>a{
    padding: 10px;
    font-weight: 600;
    font-size: small;
}

/* Footer */
footer#site_footer {
    background-color: #282828;
    height: 100px;
    width: 100%;
}

.song_logo {
    height: 50px;
    width: 50px;
}
.display_inline{display: inline-block;}
.song_desc{line-height: 100%;}
.fa-heart{ font-size: medium;}
#myProgress {
    width: 700px;
    background-color: #535353;
    border-radius: 20px;
}

#myBar {
    width: 1%;
    height: 5px;
    background-color: #b3b3b3;
    border-radius: 20px;
}
.player_controls>i:hover,
.player_controls>button:hover,
.song>i:hover,
.song>span svg:hover,
.song_logo:hover {
    transform: scale(1.5);
}
#myProgress:hover #myBar {
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.27);
}
button{
    appearance: none;
    box-shadow: none;
    color: white;
    border: none;
    background: none;
}

.player-footer{justify-content: space-between;}
.player_controls>*{
    padding: 0 10px;
}
.fa-play{
    border: 3px solid white;
    border-radius: 50%;
    padding: 10px;
}
.clear::after{
    content: "";
    display: table;
    clear: both;
}
/* .float_left{float: left;} */

.volume_line {
    position: absolute;
    top: 0;
    right:0;
    border-radius: 10px;
    width: 65%;
    height: 4px;
    margin-top: 9px;
    background-color: #899397;

}
.fas_icons{padding-right: 100px;}
.player_more{margin-top: 25px;}