* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:white;
}
.bnt_upgrade{text-align: end;}
.bnt_upgrade>a {
    border: 1px solid white;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    line-height: 4em;
}

/* Utility classes */
.d-flex {display: flex;}
.flex-wrap {flex-wrap: wrap;}
.text_center{text-align: center;}
.line_h_center{vertical-align: top;}
.text_uppercase{text-transform: uppercase;}
#site_footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
body {
    background-color: #333;
    color: white;
}
.wrapper {
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}


aside>.logo{width: 200px;}
#site_content{height: calc(100% - 60px);}
aside.main_menu {
    min-width: 300px;
    background-color: black;
}
img.svg_aside {
    width: 32px;
    height: 32px;
}
.main_menu>div>ul>li, .main_menu>div.logo_playlist>span, .main_menu>ul>li, .logo{
    padding: 0 20px;
    line-height: 2em;
}
span.favourites, span.add_playlist{
  font-size: 30px;
}

.covers_section {
    padding: 20px;;
    padding-top: 60px;
    width: calc(100% - 300px);
}
.playlist>ul{height: 55vh;}
.covers_section, .playlist>ul{
        overflow-y: auto;
        overflow-x: hidden;
}
.subscribe_banner {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 320px);
    height: 60px;
    background-color: #0e0d0ecf;
    margin-right: 20px;

}
/* Covers section */

.test_item{ 
    width: calc(100% / 6);
    height: 100%;
    padding: 10px;
    
}
.test_item>img{
    width: 100%;}

.item{position: relative;}

.fa-play-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 4px 4px 8px #000000;
    font-size: 50px;
    display: none;
} 
.circle_radius{border-radius: 50%;}
.test_item:hover .fa-play-circle {
    display: block;
}
.item:hover .layover {
    background-color: rgba(0, 0, 0, 0.4);
}  

.layover {    
    height: 100%;
    width: 100%;
    position: absolute;
} 

/* Created for.. section */
    

.install-bottom{
    padding: ;
    width: 100%;
}

/* Footer */
footer#site_footer {
    background-color: yellowgreen;
    height: 60px;
    width: 100%;
}

.z3{z-index: 3;}